## 4° união dos dataframes

Utilizar o comando merge para unir os DataFrames em uma única tabela

In [ ]:
#obtendo os titulos das colunas de cada DataFrame para saber como relacionar os dados


print("Propostas de crédito")
print(propostas_credito.columns)
print()
print("Transações")
print(transacoes.columns)

Propostas de crédito
Index(['cod_proposta', 'cod_cliente', 'cod_colaborador',
       'data_entrada_proposta', 'taxa_juros_mensal', 'valor_proposta',
       'valor_financiamento', 'valor_entrada', 'valor_prestacao',
       'quantidade_parcelas', 'carencia', 'status_proposta'],
      dtype='object')

Transações
Index(['cod_transacao', 'num_conta', 'data_transacao', 'nome_transacao',
       'valor_transacao'],
      dtype='object')

In [ ]:
#unir agencias e colaborador_agencia pelo cod_agencia
agencia_e_colaborador = agencias.merge(colaborador_agencia, on='cod_agencia', how='left')

In [ ]:
#unir agencia + colaborador com contas pela coluna 'cod_agencia'
agencia_e_contas = agencia_e_colaborador.merge(contas, on='cod_agencia', how='left')

In [ ]:
#removendo valores duplicados
agencia_e_contas = agencia_e_contas.drop('data_abertura_x', axis='columns')

agencia_e_contas = agencia_e_contas.drop('cod_colaborador_x', axis='columns')

In [ ]:
agencia_e_contas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9398 entries, 0 to 9397
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   cod_agencia             9398 non-null   int64
 1   nome                    9398 non-null   object
 2   endereco                9398 non-null   object
 3   cidade                  9398 non-null   object
 4   uf                      9398 non-null   object
 5   tipo_agencia            9398 non-null   object
 6   num_conta               9398 non-null   int64
 7   cod_cliente             9398 non-null   int64
 8   cod_colaborador_y       9398 non-null   int64
 9   tipo_conta              9398 non-null   object
 10  data_abertura_y         9398 non-null   datetime64[ns, UTC]
 11  saldo_total             9398 non-null   float64
 12  saldo_disponivel        9398 non-null   float64
 13  data_ultimo_lancamento  9398 non-null   datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](2), float64(2), int64(4), object(6)
memory usage: 1.0+ MB

In [ ]:
agencia_e_clientes = agencia_e_contas.merge(clientes, on='cod_cliente', how='left')

In [ ]:
agencia_e_clientes.rename(columns={
    'cod_colaborador_y':'cod_colaborador',
    'data_abertura_y':'data_abertura',
    'endereco_y':'endereco',
}, inplace=True,)

In [ ]:
colab_agencia_e_clientes = agencia_e_clientes.merge(colaboradores, on='cod_colaborador', how='left')

In [ ]:
colab_agencia_e_clientes = colab_agencia_e_clientes.drop('endereco_x', axis='columns')

In [ ]:
clientes_colab_propostas = colab_agencia_e_clientes.merge(propostas_credito, on='cod_cliente', how='left')

In [ ]:
#remover a coluna duplicada
clientes_colab_propostas = clientes_colab_propostas.drop('cod_colaborador_x', axis='columns')

#renomear a coluna de código do colaborador
clientes_colab_propostas.rename(
    columns={'cod_colaborador_y':'cod_colaborador'}, inplace=True,
)

In [ ]:
print(clientes_colab_propostas.columns)

Index(['cod_agencia', 'nome', 'cidade', 'uf', 'tipo_agencia', 'num_conta',
       'cod_cliente', 'tipo_conta', 'data_abertura', 'saldo_total',
       'saldo_disponivel', 'data_ultimo_lancamento', 'primeiro_nome',
       'ultimo_nome', 'email', 'tipo_cliente', 'data_inclusao', 'cpfcnpj',
       'data_nascimento', 'endereco', 'cep', 'primeiro_nome_colab',
       'ultimo_nome_colab', 'email_colaborador', 'cpf_colaborador',
       'data_nascimento_colab', 'endereco_colaborador', 'cep_colaborador',
       'cod_proposta', 'cod_colaborador', 'data_entrada_proposta',
       'taxa_juros_mensal', 'valor_proposta', 'valor_financiamento',
       'valor_entrada', 'valor_prestacao', 'quantidade_parcelas', 'carencia',
       'status_proposta'],
      dtype='object')

In [ ]:
final_merged_df = clientes_colab_propostas.merge(transacoes, on='num_conta', how='left')

In [ ]:
final_merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1441493 entries, 0 to 1441492
Data columns (total 43 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   cod_agencia             1441493 non-null  int64
 1   nome                    1441493 non-null  object
 2   cidade                  1441493 non-null  object
 3   uf                      1441493 non-null  object
 4   tipo_agencia            1441493 non-null  object
 5   num_conta               1441493 non-null  int64
 6   cod_cliente             1441493 non-null  int64
 7   tipo_conta              1441493 non-null  object
 8   data_abertura           1441493 non-null  datetime64[ns, UTC]
 9   saldo_total             1441493 non-null  float64
 10  saldo_disponivel        1441493 non-null  float64
 11  data_ultimo_lancamento  1441493 non-null  datetime64[ns, UTC]
 12  primeiro_nome           1436501 non-null  object
 13  ultimo_nome             1436501 non-null  object
 14  email                   1436501 non-null  object
 15  tipo_cliente            1436501 non-null  object
 16  data_inclusao           1436501 non-null  datetime64[ns, UTC]
 17  cpfcnpj                 1436501 non-null  object
 18  data_nascimento         1436501 non-null  datetime64[ns]
 19  endereco                1436501 non-null  object
 20  cep                     1436501 non-null  object
 21  primeiro_nome_colab     1441493 non-null  object
 22  ultimo_nome_colab       1441493 non-null  object
 23  email_colaborador       1441493 non-null  object
 24  cpf_colaborador         1441493 non-null  object
 25  data_nascimento_colab   1441493 non-null  datetime64[ns]
 26  endereco_colaborador    1441493 non-null  object
 27  cep_colaborador         1441493 non-null  object
 28  cod_proposta            1344055 non-null  float64
 29  cod_colaborador         1344055 non-null  float64
 30  data_entrada_proposta   1344055 non-null  datetime64[ns, UTC]
 31  taxa_juros_mensal       1344055 non-null  float64
 32  valor_proposta          1344055 non-null  float64
 33  valor_financiamento     1344055 non-null  float64
 34  valor_entrada           1344055 non-null  float64
 35  valor_prestacao         1344055 non-null  float64
 36  quantidade_parcelas     1344055 non-null  float64
 37  carencia                1344055 non-null  float64
 38  status_proposta         1344055 non-null  object
 39  cod_transacao           1441493 non-null  int64
 40  data_transacao          1441493 non-null  datetime64[ns, UTC]
 41  nome_transacao          1441493 non-null  object
 42  valor_transacao         1441493 non-null  float64
dtypes: datetime64[ns, UTC](5), datetime64[ns](2), float64(12), int64(4), object(20)
memory usage: 472.9+ MB

In [ ]:
print(final_merged_df.nunique())

cod_agencia                  10
nome                         10
cidade                        7
uf                            5
tipo_agencia                  2
num_conta                   999
cod_cliente                 999
tipo_conta                    1
data_abertura               998
saldo_total                 999
saldo_disponivel            999
data_ultimo_lancamento      988
primeiro_nome               202
ultimo_nome                  70
email                       994
tipo_cliente                  1
data_inclusao               997
cpfcnpj                     998
data_nascimento             975
endereco                    998
cep                         998
primeiro_nome_colab          75
ultimo_nome_colab            50
email_colaborador            94
cpf_colaborador              94
data_nascimento_colab        94
endereco_colaborador         94
cep_colaborador              94
cod_proposta               2000
cod_colaborador             100
data_entrada_proposta      2000
taxa_juros_mensal           171
valor_proposta             2000
valor_financiamento        2000
valor_entrada              2000
valor_prestacao            2000
quantidade_parcelas         120
carencia                      7
status_proposta               4
cod_transacao             71999
data_transacao            68330
nome_transacao               15
valor_transacao           30166
dtype: int64

In [ ]:
print(final_merged_df.columns)

Index(['cod_agencia', 'nome', 'cidade', 'uf', 'tipo_agencia', 'num_conta',
       'cod_cliente', 'tipo_conta', 'data_abertura', 'saldo_total',
       'saldo_disponivel', 'data_ultimo_lancamento', 'primeiro_nome',
       'ultimo_nome', 'email', 'tipo_cliente', 'data_inclusao', 'cpfcnpj',
       'data_nascimento', 'endereco', 'cep', 'primeiro_nome_colab',
       'ultimo_nome_colab', 'email_colaborador', 'cpf_colaborador',
       'data_nascimento_colab', 'endereco_colaborador', 'cep_colaborador',
       'cod_proposta', 'cod_colaborador', 'data_entrada_proposta',
       'taxa_juros_mensal', 'valor_proposta', 'valor_financiamento',
       'valor_entrada', 'valor_prestacao', 'quantidade_parcelas', 'carencia',
       'status_proposta', 'cod_transacao', 'data_transacao', 'nome_transacao',
       'valor_transacao'],
      dtype='object')